.container
    max-width: 1200px
    width: 100%
    margin: 400px auto
    display: flex
    justify-content: center
    align-items: center

.signup-form
    max-width: 320px
    display: flex
    flex-direction: column
    .title
        text-align: center
    input
        display: block
        background-color: #DDD
        margin-bottom: 8px
